.home-page-container {
    padding: 40px;
    margin-top: 30px;
    background-color: #2c2c2c; /* Dark Gray */
    color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-container h2 {
    color: #007bff; /* Light Blue */
    margin-bottom: 20px;
    font-size: 2.5em;
}

.home-page-container p {
    font-size: 1.1em;
    color: #ccc;
    max-width: 600px;
    line-height: 1.6;
}