.movie-list-container {
    padding: 10px;
    background-color: #1a1a1a; /* Dark Gray */
    border-radius: 8px;
    color: white;
}

.movie-list-container h2 {
    color: #007bff; /* Blue */
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.movie-card {
    display: flex;
    align-items: flex-start;
    border: 1px solid #444; /* Gray */
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2c2c2c; /* Dark Gray */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.movie-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}

.movie-details {
    flex-grow: 1;
}

.movie-details h3 {
    margin-top: 0;
    color: #90caf9; /* Light Blue */
}

.movie-details p {
    color: #ccc; /* Off White */
}

.movie-details button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    margin-top: 10px;
    color: white;
}

.movie-details button:first-of-type {
    background-color: #28a745; /* Green */
    margin-right: 10px;
}

.movie-details button:last-of-type {
    background-color: #dc3545; /* Red */
}

.movie-details button:hover {
    opacity: 0.8;
}