.public-movie-list-container {
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 8px;
    color: white;
}

.public-movie-list-container h2 {
    color: #007bff;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
}

.public-movie-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2c2c2c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.public-movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.public-movie-card img {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.public-movie-title {
    padding: 15px;
    text-align: center;
}

.public-movie-title h3 {
    margin: 0;
    color: #90caf9;
    font-size: 1.2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}