.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 12px 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
    box-sizing: border-box;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    flex-shrink: 0;
}

.navbar-logo {
    height: 50px;
    width: auto;
    margin: 0;
}

.navbar-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
    white-space: nowrap;
}

.navbar-search {
    flex: 1;
    max-width: 500px;
    min-width: 150px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

.nav-btn {
    padding: 8px 14px;
    background-color: #333; /* Gray */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    text-decoration: none;
    white-space: nowrap
}

.nav-btn:hover {
    background-color: #555; /* Light Gray */
    color: white;
}

.login-btn {
    background-color: #007bff; /* Blue */
}

.logout-btn {
    background-color: #ac0101;
}

.account-btn {
    background-color: #007bff;
}

.login-btn:hover {
    background-color: #004eaa; /* Darker Blue */
    color: white;
}

.account-btn:hover {
    background-color: #004eaa; /* Darker Blue */
}

.logout-btn:hover {
    background-color: #8e0303;
}